<div class="one-quest-container">
    <div class="one-question">
        <div class="one-image">
            <div class="one-logo">
                <img class="one-logo-logo" src={{question.result.question.userImage}}>
            </div>
            <div class="one-alias">
                <a [href]="'http://localhost:4200/account/' + question.result.question.userId">{{question.result.question.username}}</a>
            </div>
            <div class="one-rep">Reputacja: {{question.result.question.userReputation}}</div>
        </div>
        <div class="one-content questo">
            <div class="one-heading">
                <div class="one-plus-minus">
                    <div class="one-plus-item "><button (click)="likeQuestion(question.result.question.id)" class="xd bi like bi-heart-fill"></button></div>
                    <div class="one-plus-item ">{{question.result.question.pluses}}</div>
                </div>
                <div class="one-heading-right">
                    <div class="one-title">{{question.result.question.heading}}</div>
                    <button class="trashbuttonq"*ngIf="isOwner(question.result.question.userId)" (click)="deleteQuestion(question.result.question.id)" >
                        <div class="onequest-trash bi bi-trash"></div>
                    </button>
                    <div class="one-info">
                        <div class="added-lasta">Dodano: {{question.result.question.dateAdded | date:'M/d/yy, h:mm a'}}</div>
                        <div class="one-views">Wyświetlenia: {{question.result.question.views}}</div>
                    </div>
                </div>
            </div>
            <div class="one-quest-content">
                <div class="one-question-text">{{question.result.question.content}}</div>
                <img *ngIf="question.result.question.imageFile" class="one-imageq" 
                src={{question.result.question.imageFile}}>
                <div *ngIf="question.result.question.audioFile" div class="sound">
                    <button (click)="playSound(question.result.question.audioFile)" class="soundbutton but"><i class="bi bi-play-fill"></i></button>
                    <button id="audio"(click)="pauseSound()"  class="soundbutton but pause">
                        <div class="bi bi-pause-fill"></div>
                    </button>
                    <button (click)="stopSound()" class="soundbutton but xx"><i class="bi bi-stop-fill"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="onequestglobal">
    <div *ngIf="pagValue()==0" [formGroup]="form"  class="one-quest-form">
        <div class="one-quest-ya">Twoja odpowiedź</div>
        <div class="one-quest-cnt">
            <div class="one-quest-answ-cont"><input class="one-quest-input" formControlName="content"></div>
            <div class="dz">
                <ngx-dropzone  class="dragdrop"(change)="onSelect($event)">
                    <ngx-dropzone-label>Przeciągnij i upuść</ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" 
                    *ngFor="let f of files" 
                    [file]="f"
                    [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                      </ngx-dropzone-image-preview>
                </ngx-dropzone>
            </div>
            <div><button class="imgbutton but" (click)="uploadImage()"><i class="bi bi-cloud-download"></i></button></div>
            <div class="dz">
                <ngx-dropzone class="dropzone" (change)="onSelectAudio($event)">
                    <ngx-dropzone-label>Przeciągnij i upuść</ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" 
                    *ngFor="let f of filesAudio" 
                    [file]="f"
                    [removable]="true" (removed)="onRemoveAudio(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                      </ngx-dropzone-image-preview>
                </ngx-dropzone>
            </div>
            <div><button class="audiobutton but" (click)="uploadAudio()"><i class="bi bi-cloud-download"></i></button></div>
        </div>
        <button class="one-quest-submit" (click)="addAnswer()">
            Dodaj odpowiedź
        </button>
    </div> 
    </div>
    <div *ngIf="ifAnswers()" class="one-resta">
        Odpowiedzi
    </div>
    <div *ngIf="!ifAnswers()" class="one-resta a">
        Brak odpowiedzi
    </div>
    <div class="one-quest-answer" *ngFor="let item of question.result.answers">
        <div class="one-image">
            <div class="one-logo">
                <img class="one-logo-logo" src={{item.userImage}}>
            </div>
            <div class="one-alias">
                <a [href]="'http://localhost:4200/account/' + item.userId">{{item.username}}</a>
            </div>
            <div class="one-rep">Reputacja: {{item.userReputation}}</div>
        </div>
        <div class="one-content">
            <div class="one-answer-cont">
                <div class="one-plus-minus one-heart">
                    <div class="one-plus-item "><button (click)="likeAnswer(item.id)" class="xd bi like bi-heart-fill"></button></div>
                    <div class="one-plus-item">{{item.pluses}}</div>
                </div>
                <div class="answer-inside">
                    <div class="one-answer">{{item.content}}</div>
                    <button class="trashbutton" *ngIf="isOwner(item.userId)" (click)="deleteAnswer(item.id)" >
                        <div class="onequest-trash bi bi-trash"></div>
                    </button>
                    <img *ngIf="item.imageFile" class="one-imageq" src={{item.imageFile}}>
                    <div *ngIf="item.audioFile" class="sound">
                        <button (click)="playSound(item.audioFile)" class="soundbutton but"><i class="bi bi-play-fill"></i></button>
                        <button id="audio"(click)="pauseSound()"  class="soundbutton but pause">
                            <div class="bi bi-pause-fill"></div>
                        </button>
                        <button (click)="stopSound()" class="soundbutton but xx"><i class="bi bi-stop-fill"></i></button>
                    </div>
                    <div class="one-info">
                        <div class="answer-added">Dodano: {{item.dateAdded | date:'M/d/yy, h:mm a'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div *ngIf="ifOnePage()" class="pag-elements">
    <div class="pag-inside">
    <div *ngIf="pagValue()==0" class="question-pagination">
        <div  class="emptybutton">...</div>
        <button class="question-pag-elem">1</button>
        <button class="question-pag-elem quest-next" (click)="next()">nast</button>
        </div>
    <div *ngIf="pagValue()==1" class="question-pagination">
        <button  class="question-pag-elem quest-prev"(click)="previous()">popr</button>
        <div class="question-pag-elem">{{question.result.currentPage}}</div>
        <button class="question-pag-elem quest-next" (click)="next()">nast</button>
        </div>
    <div *ngIf="pagValue()==2" class="question-pagination">
        <button class="question-pag-elem quest-prev" (click)="previous()">popr</button>
        <div class="question-pag-elem">{{question.result.pages}}</div>
        <div  class="emptybutton">...</div>
        </div>
    </div>
    </div>
