.one-quest-container
{
    padding: 30px;
}
.one-question{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.one-quest-answer{
    display: flex;
    flex-direction: row;
    padding-top: 35px;
}
.one-plus-minus {
    width: 25px;
}
.one-content{
    padding-left: 10px;
    width: 600px;
}
.one-quest-content{
    border: 1px solid black;
    padding-left: 25px;
    padding-top: 5px;
    height: 150px;
}
.one-heading{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    height: 80px;
    width: 100%;
}
.one-answer-cont{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    height: 200px;
    width: 100%;
    padding: 5px;
}
.one-logo-logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.one-title{
    font-size: 25px;
}
.one-info{
    display: flex;
    flex-direction: row;
}
.one-question-tags{
    display: flex;
    flex-direction: row;
}
.one-question-tag{
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(221, 221, 221);
    margin-right:10px;
}
.one-heading-right{
    width: 100%;
    margin-left: 10px;
    position: relative;
}
.onequest-trash{
    position:absolute;
    right: 5px;
    font-size: 20px;
    top:5px
}
.one-info{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.one-views{
    position: absolute;
    right: 0px;
}
.added-lasta{
    margin-right: 5px;
}
.one-quest-form{
    width: 590px;
    margin-left: 110px;
}
.one-quest-ya{
    font-size: 25px;
    padding-left: 10px;
}
.one-quest-media{
    display: flex;
    flex-direction: row;
    background-color: rgb(221, 221, 221);
}
.one-quest-one-med{
    margin-left: 15px;
}
.one-quest-input{
    height: 100px;
    width: 588px;
    padding-left: 10px;
    border: 0px;
    border-top: 1px solid black;
}
.one-quest-cnt{
    border: 1px solid black;
}
.one-quest-submit{
    position: absolute;
    right: 210px;
    margin-top: 4px;
    border: 1px solid black;;
}
