<form [formGroup]="form" class="signup">
    <fieldset class="signup-div">
        <legend class="signup-text">REJESTRACJA</legend>
        <div class="form-field signup-field">
            <label class="signuplabel">Login</label>
            <input class="signup-input"  placeholder="Wpisz login" name="login" formControlName="login">
        </div>
        <div class="form-field signup-field">
            <label  class="signuplabel">Imię</label>
            <input  class="signup-input"  placeholder="Wpisz imię"name="name" formControlName="name">
        </div>
        <div class="form-field signup-field">
            <label class="signuplabel">Email</label>
            <input class="signup-input"  placeholder="Wpisz email" name="email" formControlName="email" >
        </div>
        <div class="form-field signup-field">
            <label class="signuplabel">Hasło</label>
            <input class="signup-input"  placeholder="Wpisz hasło" name="password" formControlName="password" 
                   type="password">
        </div>
        <div class="form-field signup-field">
            <label class="signuplabel">Potwierdzenie hasła</label>
            <input  class="signup-input"  placeholder="Potwierdź hasło"name="password" formControlName="confirmpassword" 
                   type="password">
        </div>
        <div class="form-buttons field ">
            <button class="signup-button button button-primary" 
                    (click)="signup()">Zarejestruj</button>
        </div>
    </fieldset>
</form>