<div class="signup">
    <div class="sign-cont-google signup-cont">
        <div class="signup-text">Continue with google</div>
    </div>
    <div class="sign-cont-apple signup-cont">
        <div class="signup-text">Continue with apple</div>
    </div>
    <div class="sign-or signup-cont">
        <div class="signup-text">or</div>
    </div>
    <form class="sign-forms">
        <div class="sign-email signup-cont">
            <input class="sign-input" placeholder="email">
        </div>
        <div class="sign-pwd signup-cont">
            <input class="sign-input" placeholder="password">
        </div>
        <div class="sign-continue signup-cont">
            <div class="signup-text">Continue</div>
        </div>
    </form>
    <div class="sign-forgot-password">forgot password?</div>
</div>