<!-- <div class="signup">
    <div class="sign-cont-google signup-cont">
        <div class="signup-text">Continue with google</div>
    </div>
    <div class="sign-cont-apple signup-cont">
        <div class="signup-text">Continue with apple</div>
    </div>
    <div class="sign-or signup-cont">
        <div class="signup-text">or</div>
    </div>
    <form class="sign-forms">
        <div class="sign-email signup-cont">
            <input class="sign-input" placeholder="email">
        </div>
        <div class="sign-pwd signup-cont">
            <input class="sign-input" placeholder="password">
        </div>
        <div class="sign-continue signup-cont">
            <div class="signup-text">Continue</div>
        </div>
    </form>
    <div class="sign-forgot-password">forgot password?</div>
</div> -->
<form [formGroup]="form">
    <fieldset>
        <div class="form-field">
            <label>Login:</label>
            <input name="login" formControlName="login">
        </div>
        <div class="form-field">
            <label>Name:</label>
            <input name="name" formControlName="name">
        </div>
        <div class="form-field">
            <label>Email:</label>
            <input name="email" formControlName="email" >
        </div>
        <div class="form-field">
            <label>Password:</label>
            <input name="password" formControlName="password" 
                   type="password">
        </div>
    </fieldset>
    <div class="form-buttons">
        <button class="button button-primary" 
                (click)="signup()">Signup</button>
    </div>
</form>