<head>
  </head>
<body>
    <aside class="sidebar" data-sidebar>
    <ul class="sidebar-list">
        <li class="sidebar-list-item">
            <a routerLink="questions" class="sidebar-link">
                <i class="bi bi-question-square" focusable="false"></i>                
                <div class="hidden-sidebar" >Questions</div>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
                <i class="bi bi-tags sidebar-icon" focusable="false"></i>                
                <div class="hidden-sidebar">Tags</div>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
                <i class="bi bi-music-note-beamed sidebar-icon" focusable="false"></i>
                <div class="hidden-sidebar">New music</div>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
                <i class="bi bi-kanban sidebar-icon"></i>
                <div class="hidden-sidebar">Management</div>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
                <i class="bi bi-speaker sidebar-icon"></i>
                <div class="hidden-sidebar">Equipment</div>
            </a>
        </li>
    </ul>
    </aside>
</body>

