
<body>
    <aside class="sidebar" data-sidebar>
    <ul class="sidebar-list">
        <li class="sidebar-list-item">
            <a  class="sidebar-link">
                <i class="bi bi-question-square" focusable="false"></i>                
                <button class="hidden-sidebar" (click)="toquestion()">Pytania</button>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a class="sidebar-link">
                <i class="bi bi-music-note-beamed sidebar-icon" focusable="false"></i>
                <button (click)="totracks()" class="hidden-sidebar">Utwory</button>
            </a>
        </li>
    </ul>
    </aside>
</body>

