
<div class="tracks-parent">
    <div class="head-tracks">
        <h1 class="alltracks">All tracks</h1>
        <button class="addtrack" routerLink="/addtrack">Add track</button>
        <div class="track-bar">
            <form [formGroup]="form">
                <button class="track-search">Search</button>
                <input class="track-search-inp" formControlName="search">
            </form>
            <button class="track-newest">Newest</button>
            <button class="track-mostliked">MostLiked</button>
        </div>
    </div>
    
    <div class="tracks">
        <div class="track-cont" *ngFor="let item of tracks.result.tracks">
            <div class="track-image">
                <img class="tracks-imagge" src="https://img.myloview.pl/fototapety/neon-music-note-on-the-dark-background-music-time-vector-eps-10-illustration-700-271304297.jpg">
            </div>
            <div class="track-right">
                <div class="track-right-up">
                    <div class="track-artistinfo">
                        <div class="track-artistname">
                            <a [href]="'http://localhost:4200/account/' + item.userId">{{item.artist}}</a>
                        </div>
                        <div class="track-name">{{item.title}}</div>
                    </div>
                    <button *ngIf="isOwner(item.userId)" (click)="deleteTrack(item.id)" class="track-trash bi bi-trash"></button>  
                    <!-- <div class="track-taglike">
                        <div class="track-tagss">
                            <div class="track-onetag">tag1</div>
                            <div class="track-onetag">tag2</div>
                            <div class="track-onetag">tag3</div>
                        </div>
                        <div class="track-date">Date: {{item.dateAdded}}</div>
                    </div> -->
                </div>
                <div class="track-right-down">
                    <div class="track-playandtime">
                        <div class="track-play"><button  class="bi play bi-play-fill"></button></div>
                        <div class="track-time">
                            <div class="tl track-onelength">0:00</div>
                            <div class="tl track-length">2:38</div>
                    </div>
                      
                    <div class="track-likees">
                        <div class="tracks-likes">
                            <div><button (click)="likeTrack(item.id)" class="xd bi like bi-heart-fill"></button></div>
                            <div class="tr-lk">{{item.likes}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
