<div class="tracks-parent">
    <div class="tracks">
        <div class="track-container">
            <div class="track">
                <div class="tracks-img">
                    <img class="tracks-imgg" src="https://geo-media.beatport.com/image_size/1400x1400/8ba35ecb-25a1-4a49-b622-be55dd8a11d2.jpg">
                </div>
                <div class="tracks-info">
                    <div class="tracks-artist">Robert</div>
                    <div class="tracks-title">Fire</div>
                    <div class="track-tags">
                        <div class="track-tag">tag1</div>
                        <div class="track-tag">tag2</div>
                        <div class="track-tag">tag3</div>
                    </div>
                    <div class="tracks-date">Added 2 days ago</div>
                </div>
                
            </div>
            <div class="track-len">
                <div class="track-stop"><i class="bi bi-play-fill"></i></div>
                <div class="track-wave"></div>
                <div class="track-loudness"><i class="bi bi-speaker"></i></div>
                <div class="track-like"><i class="bi bi-heart-fill"></i></div>
            </div>
        </div>
        <div class="track-container">
            <div class="track">
                <div class="tracks-img">
                    <img class="tracks-imgg" src="https://scontent-frt3-1.xx.fbcdn.net/v/t39.30808-6/296186418_621383186013349_7663845660251335903_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=gb5cOcISdFMAX_kopk-&_nc_ht=scontent-frt3-1.xx&oh=00_AT8mNLkTU0REmRXKtXGpXBAsdowpzQcVuzRN0DYdt3Kg-Q&oe=62E7F233">
                </div>
                <div class="tracks-info">
                    <div class="tracks-artist">Robert</div>
                    <div class="tracks-title">Fire</div>
                    <div class="track-tags">
                        <div class="track-tag">tag1</div>
                        <div class="track-tag">tag2</div>
                        <div class="track-tag">tag3</div>
                    </div>
                    <div class="tracks-date">Added 2 days ago</div>
                </div>
                
            </div>
            <div class="track-len">
                <div class="track-stop"><i class="bi bi-play-fill"></i></div>
                <div class="track-wave"></div>
                <div class="track-loudness"><i class="bi bi-speaker"></i></div>
                <div class="track-like"><i class="bi bi-heart-fill"></i></div>
            </div>
        </div>
        <div class="track-container">
            <div class="track">
                <div class="tracks-img">
                    <img class="tracks-imgg" src="https://geo-media.beatport.com/image_size/1400x1400/8ba35ecb-25a1-4a49-b622-be55dd8a11d2.jpg">
                </div>
                <div class="tracks-info">
                    <div class="tracks-artist">Robert</div>
                    <div class="tracks-title">Fire</div>
                    <div class="track-tags">
                        <div class="track-tag">tag1</div>
                        <div class="track-tag">tag2</div>
                        <div class="track-tag">tag3</div>
                    </div>
                    <div class="tracks-date">Added 2 days ago</div>
                </div>
                
            </div>
            <div class="track-len">
                <div class="track-stop"><i class="bi bi-play-fill"></i></div>
                <div class="track-wave"></div>
                <div class="track-loudness"><i class="bi bi-speaker"></i></div>
                <div class="track-like"><i class="bi bi-heart-fill"></i></div>
            </div>
        </div>
        <div class="track-container">
            <div class="track">
                <div class="tracks-img">
                    <img class="tracks-imgg" src="https://scontent-frt3-1.xx.fbcdn.net/v/t39.30808-6/296186418_621383186013349_7663845660251335903_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=gb5cOcISdFMAX_kopk-&_nc_ht=scontent-frt3-1.xx&oh=00_AT8mNLkTU0REmRXKtXGpXBAsdowpzQcVuzRN0DYdt3Kg-Q&oe=62E7F233">
                </div>
                <div class="tracks-info">
                    <div class="tracks-artist">Robert</div>
                    <div class="tracks-title">Fire</div>
                    <div class="track-tags">
                        <div class="track-tag">tag1</div>
                        <div class="track-tag">tag2</div>
                        <div class="track-tag">tag3</div>
                    </div>
                    <div class="tracks-date">Added 2 days ago</div>
                </div>
                
            </div>
            <div class="track-len">
                <div class="track-stop"><i class="bi bi-play-fill"></i></div>
                <div class="track-wave"></div>
                <div class="track-loudness"><i class="bi bi-speaker"></i></div>
                <div class="track-like"><i class="bi bi-heart-fill"></i></div>
            </div>
        </div>
        <div class="track-container">
            <div class="track">
                <div class="tracks-img">
                    <img class="tracks-imgg" src="https://geo-media.beatport.com/image_size/1400x1400/8ba35ecb-25a1-4a49-b622-be55dd8a11d2.jpg">
                </div>
                <div class="tracks-info">
                    <div class="tracks-artist">Robert</div>
                    <div class="tracks-title">Fire</div>
                    <div class="track-tags">
                        <div class="track-tag">tag1</div>
                        <div class="track-tag">tag2</div>
                        <div class="track-tag">tag3</div>
                    </div>
                    <div class="tracks-date">Added 2 days ago</div>
                </div>
                
            </div>
            <div class="track-len">
                <div class="track-stop"><i class="bi bi-play-fill"></i></div>
                <div class="track-wave"></div>
                <div class="track-loudness"><i class="bi bi-speaker"></i></div>
                <div class="track-like"><i class="bi bi-heart-fill"></i></div>
            </div>
        </div>
        <div class="track-container">
            <div class="track">
                <div class="tracks-img">
                    <img class="tracks-imgg" src="https://scontent-frt3-1.xx.fbcdn.net/v/t39.30808-6/296186418_621383186013349_7663845660251335903_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=gb5cOcISdFMAX_kopk-&_nc_ht=scontent-frt3-1.xx&oh=00_AT8mNLkTU0REmRXKtXGpXBAsdowpzQcVuzRN0DYdt3Kg-Q&oe=62E7F233">
                </div>
                <div class="tracks-info">
                    <div class="tracks-artist">Robert</div>
                    <div class="tracks-title">Fire</div>
                    <div class="track-tags">
                        <div class="track-tag">tag1</div>
                        <div class="track-tag">tag2</div>
                        <div class="track-tag">tag3</div>
                    </div>
                    <div class="tracks-date">Added 2 days ago</div>
                </div>
                
            </div>
            <div class="track-len">
                <div class="track-stop"><i class="bi bi-play-fill"></i></div>
                <div class="track-wave"></div>
                <div class="track-loudness"><i class="bi bi-speaker"></i></div>
                <div class="track-like"><i class="bi bi-heart-fill"></i></div>
            </div>
        </div>
    </div>
</div>
