<div class="account">
    <div class="image-account">
        <img src="./src/app/account/myImageName.png" alt="Image" width="500" height="333"/>
    </div>
    <div class="account-description">
        <div class="nick">Robert Art</div>
        <div class="description">wątek miłosny Tadeusza i Zosi – wątek rozwijający się od początku utworu, kiedy Tadeusz zauważa młodą dziewczynę. Potem myli Zosię z Telimeną. Następnie wyjawia stryjowi swą miłość do Zosi, a Zosia czule żegna Tadeusza. Wątek ten rozwija się przez cały utwór, aż doprowadza do zaręczyn Tadeusza i Zosi.
            wątek Stolnika</div>
    </div>
    <div class="account-stats">stats</div>
    <div class="account-contact">
        <div class="cont">email</div>
        <div class="cont">sc</div>
        <div class="cont">yt</div>
        <div class="cont">inst</div>
    </div>
    <div class="tracks-account">
        <div class="track">track1</div>
        <div class="track">track2</div>
        <div class="track">track3</div>
        <div class="track">track4</div>
    </div>
</div>
