<div class="account-container">
    <div class="account">
        <div class="image-account">
            <img class="image-acc-im" src={{user.result.imageFile}} alt="Image" width="500" height="333"/>
        </div>
        <div class="account-description">
            <button *ngIf="isowner()" button class="account-edit" (click)="route()">Edycja profilu</button>
            <div class="nick">{{user.result.name}}</div>
            <div class="origin">{{user.result.city}}, {{user.result.country}}</div>
            <div class="description">{{user.result.description}}</div>
            
        </div>
        <div class="account-stats">
            <div class="stats">Statystyki</div>
            <div class="lfont">{{user.result.reputation}}</div>
            <div class="sfont">reputacja </div>
            <div class="lfont">{{user.result.dateAdded | date:'M/d/yy, h:mm a'}}</div>
            <div class="sfont">dołączono</div>
        </div>
        <div class="account-contact">
            <div class="stats">Kontakt</div>
            <div class="lfont">{{user.result.email}}</div>
            <div  class="cont sfont">email</div>
            <div class="lfont">{{user.result.contact}}</div>
            <div   class="cont sfont">inny kontakt</div>
        </div>
    </div>
</div>

