.account{
    display: grid;
    gap:0px;
    padding:10px;
    grid-auto-rows: 240px;
    grid-auto-columns:30px;
}
.tracks-account{
    border: 1px solid black;
    border-radius: 25px;
    grid-row: 3;
    grid-column: 1/ span 28;
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.nick {
    font-size: 30px;
}


.image-account {
    border: 1px solid black;
    border-radius: 25px;
    grid-column: 1 / span 8;
    grid-row: 1;
    margin: 10px;
  }
  
  .account-description{
    border: 1px solid black;
    border-radius: 25px;
    grid-column: 9 /span 20;
    grid-row: 1;
    margin: 10px;
    padding: 20px;
  }
  .account-stats {
    border: 1px solid black;
    border-radius: 25px;
    grid-column: 1 /span 8;
    grid-row: 2;
    margin: 10px;
  }
  .account-contact {
    border: 1px solid black;
    border-radius: 25px;
    grid-column: 9/span 20;
    grid-row: 2;
    margin: 10px;
    padding: 20px;
  }