<form [formGroup]="form" class="ask-question">
    <div class="askq-content">
        <div class="ask-title ask-element">Ask new question</div>
        <input class="title-input ask-element" formControlName="heading">
        <!-- <div class="title-input ask-element"></div> -->
        <div class="ask-text ask-element">content</div>
        <div class="ask-content">
            <div class="ask-icons">
                <div class="ask-icon"><i class="bi bi-type-bold"></i></div>
                <div class="ask-icon"><i class="bi bi-type-italic"></i></div>
                <div class="ask-icon"><i class="bi bi-soundwave"></i></div>
                <div class="ask-icon"><i class="bi bi-card-image"></i></div>
            </div>
            <input class="ask-input" formControlName="content">
        </div>
        <div class="ask-text ask-element">tags</div>
        <div class="ask-tags ask-element">
            <div class="ask-tag">tag1</div>
            <div class="ask-tag">tag2</div>
            <div class="ask-tag">tag3</div>
        </div>
        <div class="ask-options ask-element">
            <div class="ask-option">discard</div>
            <button class="ask-option" (click)="addQuestion()">ask</button>
        </div>
    </div>
</form>