<form [formGroup]="form" class="ask-question">
    <div class="askq-content">
        <div class="ask-title ask-element">Dodaj nowe pytanie</div>
        <div class="ask-elem">Nagłówek</div>
        <input class="title-input ask-element"  placeholder="Wpisz nagłówek" formControlName="heading">
        <div class="ask-text ask-elem">Treść</div>
        <div class="ask-content">
            <input class="ask-input" placeholder="Wpisz treść" formControlName="content">
            <div class="dragdrop">
                <ngx-dropzone (change)="onSelect($event)">
                    <ngx-dropzone-label>Przeciągnij i upuść</ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" 
                    *ngFor="let f of files" 
                    [file]="f"
                    [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                      </ngx-dropzone-image-preview>
                </ngx-dropzone>
            </div>
            <div><button class="imgbutton but" (click)="uploadImage()"><i class="bi bi-cloud-download"></i></button></div>
            <div class="dragdropAudio">
                <ngx-dropzone class="dropzone" (change)="onSelectAudio($event)">
                    <ngx-dropzone-label class="xx">Przeciągnij i up.</ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" 
                    *ngFor="let f of filesAudio" 
                    [file]="f"
                    [removable]="true" (removed)="onRemoveAudio(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                      </ngx-dropzone-image-preview>
                </ngx-dropzone>
            </div>
            <div><button class="audiobutton but" (click)="uploadAudio()"><i class="bi bi-cloud-download"></i></button></div>
        </div>
        <div class="ask-options ask-element">
            <button class="ask-option" (click)="addQuestion()">Dodaj</button>
        </div>
    </div>
</form>