.navbar1 {
    position: sticky;
    top:0;
    z-index: 9999;
}
html{
    height: 100%;
}
.body{
    background-color: rgba(64,64,189,1)
}
.container {
    min-height: 520px;
    height: 100%;
    width: 100%;
    position: relative;
    left: 0px;
}
.left-sidebar{
    position: relative;
    position:fixed;
    z-index: 3;
}
.content{
    width:800px;
    position: relative;
    left:200px;
    background-color: white;
    border-left:1px solid rgb(87, 87, 87); 
    border-right: 1px solid rgb(87, 87, 87); 
    box-shadow: 0px 0px 15px 2px rgb(59, 59, 59);
    min-height: 520px;
}
