.navbar1 {
    position: sticky;
    top:0;
    z-index: 9999;
}
.container {
    display: flex;
    flex-direction: row;
}
.left-sidebar{
    position:fixed;
}
.content{
    width: 70%;
    position: relative;
    left:220px;
}