<div class="users">
    <div class="user">
        <div class="users-img">
            <img class="imgg" src="https://scontent-frt3-1.xx.fbcdn.net/v/t39.30808-6/296186418_621383186013349_7663845660251335903_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=gb5cOcISdFMAX_kopk-&_nc_ht=scontent-frt3-1.xx&oh=00_AT8mNLkTU0REmRXKtXGpXBAsdowpzQcVuzRN0DYdt3Kg-Q&oe=62E7F233">
        </div>
        <div class="users-info">
            <div class="users-rep">272</div>
            <div class="users-nick">Robert</div>
            <div class="users-country">Siedlce, Poland</div>
        </div>
    </div>
    <div class="user">
        <div class="users-img">
            <img class="imgg" src="https://scontent-frt3-1.xx.fbcdn.net/v/t39.30808-6/296186418_621383186013349_7663845660251335903_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=gb5cOcISdFMAX_kopk-&_nc_ht=scontent-frt3-1.xx&oh=00_AT8mNLkTU0REmRXKtXGpXBAsdowpzQcVuzRN0DYdt3Kg-Q&oe=62E7F233">
        </div>
        <div class="users-info">
            <div class="users-rep">272</div>
            <div class="users-nick">Robert</div>
            <div class="users-country">Siedlce, Poland</div>
        </div>
    </div>
    <div class="user">
        <div class="users-img">
            <img class="imgg" src="https://scontent-frt3-1.xx.fbcdn.net/v/t39.30808-6/296186418_621383186013349_7663845660251335903_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=gb5cOcISdFMAX_kopk-&_nc_ht=scontent-frt3-1.xx&oh=00_AT8mNLkTU0REmRXKtXGpXBAsdowpzQcVuzRN0DYdt3Kg-Q&oe=62E7F233">
        </div>
        <div class="users-info">
            <div class="users-rep">272</div>
            <div class="users-nick">Robert</div>
            <div class="users-country">Siedlce, Poland</div>
        </div>
    </div>
    <div class="user">
        <div class="users-img">
            <img class="imgg" src="https://scontent-frt3-1.xx.fbcdn.net/v/t39.30808-6/296186418_621383186013349_7663845660251335903_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=gb5cOcISdFMAX_kopk-&_nc_ht=scontent-frt3-1.xx&oh=00_AT8mNLkTU0REmRXKtXGpXBAsdowpzQcVuzRN0DYdt3Kg-Q&oe=62E7F233">
        </div>
        <div class="users-info">
            <div class="users-rep">272</div>
            <div class="users-nick">Robert</div>
            <div class="users-country">Siedlce, Poland</div>
        </div>
    </div>
    <div class="user">
        <div class="users-img"></div>
        <div class="users-info"></div>
    </div>
</div>