.users{
    padding: 10px;
    width:800px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    grid-auto-rows: 100px;
    grid-auto-columns: 600px;
    padding-top: 10px;
}
.user{
    box-shadow: 0px 0px 2px 1px rgb(158, 158, 158);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.users-img {
    height: 100px;
    width: 100px;
    object-fit: contain;
}   

.imgg {
    height: 80%; 
    width: 80%; 
    object-fit: cover;
    padding: 0px;
    margin:10px;
    border-radius: 50%;
    border:1px solid rgb(105, 105, 105);
}
.users-rep {
    font-size: 14px;
}
.users-country {
    font-size: 14px;
}
.users-nick {
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
}
.head-users{
    position: relative;
    height: 85px;
    width: 799px;
    border-bottom: 1px solid black;
}
.allusers{
    position: absolute;
    bottom: 3px;
    left:10px;
    font-size: 27px;
}
.users-oper{
    position: absolute;
    bottom: 0px;
    padding: 5px;
}
.users-bar{
    display:flex;
    flex-direction: row;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.users-search{
    border: 1px solid black;
    height: 30px;
}
.users-newest{
    border: 1px solid black;
    margin-left: 10px;
}
.users-mostliked{
    border: 1px solid black;
    margin-left: 10px;
}
.button{
    border: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgba(64,64,189,1);
    color: white;
}
.button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
.button:active{
    background-color: rgb(38, 0, 255);
}
.users-mostliked{
    border-radius: 15px;
}
.question-pagination{
    position: absolute;
    margin-top: 10px;
    left:0px;
    display:flex;
    flex-direction: row;
}
.question-pag-elem{
    border-radius: 5x;
    border: solid 1px;
    background-color: rgba(64,64,189,1);
    width: 25px;
    border-radius: 5px;
    margin-right: 0px;
    text-align: center;
    color: white;
}
.quest-next{
    width: 50px;
}
.quest-prev{
    width: 50px;
}
.pag-elements{
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
.pag-inside{
    position: relative;
    width: 100px;
    right:20px;
    background-color: rgb(255, 87, 241);
}
.emptybutton{
    width: 50px;
    opacity: 0;
}