<div class="usersglobal">
<div class="head-users">
    <div class="allusers">Użytkownicy</div>
    <div class="users-bar">
        <form [formGroup]="form">
            <button class="users-search button" (click)="searchTracks()">Szukaj</button>
            <input class="users-search-inp" formControlName="search">
        </form>
        <button class="users-mostliked button" (click)="mostLiked()">Reputacja</button>
    </div>
</div>
<div class="users">
    <div class="user" *ngFor="let item of users.result.users">
        <div class="users-img">
            <img class="imgg" src={{item.imageFile}}>
        </div>
        <div class="users-info">
            <div class="users-rep">Reputacja: {{item.reputation}}</div>
            <div class="users-nick">
                <a [href]="'http://localhost:4200/account/' + item.id">{{item.name}}</a>
            </div>
            <div class="users-country">{{item.city}}, {{item.country}}</div>
        </div>
    </div>
</div>

<div *ngIf="ifNewest()" class="pag-elements">
    <div class="pag-inside">
    <div *ngIf="pagValue()==0" class="question-pagination">
        <div  class="emptybutton">...</div>
        <button class="question-pag-elem">1</button>
        <button class="question-pag-elem quest-next" (click)="next()">nast</button>
        </div>
    <div *ngIf="pagValue()==1" class="question-pagination">
        <button  class="question-pag-elem quest-prev"(click)="previous()">popr</button>
        <div class="question-pag-elem">{{users.result.currentPage}}</div>
        <button class="question-pag-elem quest-next" (click)="next()">nast</button>
        </div>
    <div *ngIf="pagValue()==2" class="question-pagination">
        <button class="question-pag-elem quest-prev" (click)="previous()">popr</button>
        <div class="question-pag-elem">{{users.result.pages}}</div>
        <div  class="emptybutton">...</div>
        </div>
    </div>
</div>

