<form [formGroup]="form" class="login">
      <fieldset class="login-div">
          <legend class="login-text">LOGOWANIE</legend>
          <div class="form-field field">
              <label class="loginlabel">Login lub email:</label>
              <input placeholder="Wpisz login lub email" class="login-input"name="email" formControlName="email">
          </div>
          <div class="form-field field">
              <label class="loginlabel">Hasło:</label>
              <input  placeholder="Wpisz hasło" class="login-input" name="password" formControlName="password" 
                     type="password">
          </div>
          <div class="form-buttons field">
            <div><button class="login-button button button-primary" 
                    (click)="login()">Zaloguj</button>
                </div>
            </div>
      </fieldset>
      
</form>