<div class="login">
    <div class="log-cont-google login-cont">
        <div class="login-text">Continue with google</div>
    </div>
    <div class="log-cont-apple login-cont">
        <div class="login-text">Continue with apple</div>
    </div>
    <div class="log-or login-cont">
        <div class="login-text">or</div>
    </div>
    <form class="log-forms">
        <div class="log-email login-cont">
            <input class="log-input" placeholder="email">
        </div>
        <div class="log-pwd login-cont">
            <input class="log-input" placeholder="password">
        </div>
        <div class="log-continue login-cont">
            <div class="login-text">Continue</div>
        </div>
    </form>
    <div class="log-forgot-password">forgot password?</div>
</div>