:host {           
    width: 100%;  
}
.navbar{
    background-color: rgb(37, 37, 37);
    opacity: 1;
    box-shadow: 0px 0px 1px 1px rgb(37, 37, 37);
}
.logout:hover {
    cursor:pointer;
}
.nav-link{
    background-color: rgb(37, 37, 37);
    border:0px;
    color: white;
}
.nav-link:focus{
    color: rgba(0,212,255,1);
}
.leftnav:focus{
    color: rgba(0,212,255,1);
}
.nav-link:hover{
    color: rgba(0,212,255,1);
}
.leftnav:hover{
    color: rgba(0,212,255,1);
}
.leftnav{
    position: relative;
    /* left:290px; */
    left:310px;
    color: white;
}
.rightnav{
    position: relative;
    /* right: 390px; */
    right: 225px;
}