
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div>
      <a href="/" class="leftnav navbar-brand m-2">Musference</a>
        </div>
        <div class="d-flex flex-row">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
      <li class="nav-item rightnav">
        <button class="nav-link" (click)="tousers()" >Użytkownicy</button>
      </li>
      <li class="nav-item rightnav">
        <button *ngIf="isLoggedIn" class="nav-link " id="account" (click)="account()">Moje konto</button>
      </li>
      <li class="nav-item rightnav">
        <button *ngIf="isLoggedOut" class="nav-link" (click)="login()">Logowanie</button>
      </li>
      <li class="nav-item rightnav">
        <button *ngIf="isLoggedOut" class="nav-link" (click)="signup()" >Rejestracja</button>
      </li>
      <li class="nav-item rightnav">
        <button *ngIf="isLoggedIn" class="nav-link logout"(click)="logout()" >Wyloguj</button>
      </li>
      </ul>
      <form class="d-flex">
      </form>
      </div>
    </div>
    </nav>